@media screen and (min-width: 1200px) {
    .leftSec {
        .archetypeInformation {
            .archetypeInformationContent {
                .tab-content {
                    #nav-objection {
                        .obejectionRebutal {
                            width: 37%;
                        }
                    }

                    .archetypeInfoDesc {
                        .reaction {
                            .reactionBlock {
                                .image {
                                    margin-right: 8px;
    
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .faqSearch {
            .faqSearchSection {
                .faqSearchSectionBlock {
                    width: 38%;

                    &:first-child {
                        border-right: 1px solid $Gray_text;
                    }

                    &:last-child {
                        width: 24%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .leftSec { 
        .faqSearch {
            .faqSearchSection {
                .row {
                    border-bottom: 1px solid $Gray_text;

                    &:last-child {
                        border-bottom: unset;
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .home-section,
    .sidebar.close ~ .home-section {
        left: 0;
        width: 100%;
    }

    #sidebarMob .overlayContent {
        a {
            font-size: 18px;
            color: $white;
            display: block;
        }
    }

    .home-section .main .topBar {
        padding: 0 24px;
    }
}

@media screen and (max-width: 768px) {
    .commonLayout {
        .content {
            .leftSec,
            .rightsec {
                min-height: inherit;
            }

            // .leftSec .commonBtnContainer {
            //     position: unset;
            // }
        }
    }

    .home-section {
        .main {
            .topBar {
                .rightSec {
                    .switchBtn {
                        display: none;
                    }
                }
            }
        }
    }

    .leftSec {
        .archetypeSelection {
            .archetypeSelectionContent {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .notEligible {
        .content {
            padding: 30px;
            
            .closePage {
                .contactSec {
                    .contactDetails {
                        flex-flow: column;
                        gap: 15px;
                    }
                }
            }
        }
    }

    .commonBtnContainer {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .exitPlatform {
        .content {
            h4 {
    
                &::before {
                    display: none;
                }
    
            }
        }
    }

    .leftSec {
        .archetypeInformation {
            .archetypeInformationContent {
                .nav-tabs {
                    flex-wrap: nowrap;
                }
            }
        }
    }
}