@media screen and (max-width: 991px) {
    .home-section,
    .sidebar.close ~ .home-section {
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .commonLayout {
        .content {
            .leftSec,
            .rightsec {
                min-height: inherit;
            }

            // .leftSec .commonBtnContainer {
            //     position: unset;
            // }
        }
    }
}

@media screen and (max-width: 500px) {
    .notEligible {
        .content {
            padding: 30px;
            
            .closePage {
                .contactSec {
                    .contactDetails {
                        flex-flow: column;
                        gap: 15px;
                    }
                }
            }
        }
    }

    .commonBtnContainer {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .exitPlatform {
        .content {
            h4 {
    
                &::before {
                    display: none;
                }
    
            }
        }
    }
}