$white: #FFFFFF;
$CIBC_background: #F2F3F2;
$CIBC_accent_blue: #18A0FB;
$CIBC_blue: #0F67A1;
$Gray_text: #B7B3B3;
$textColor: #42526E;
// $CIBC_nav: #BDE4E5;
$CIBC_nav: #C41F3E;
$CIBC_happy: #55AD11;
$CIBC_neutral: #E0B10A;