#p4_t4 {
    left: 503px;
}
#p4_t6 {
    left: 518px;
}
#p4_t7 {
    left: 533px;
}
#p4_t3 {
    left: 232px;
    top: 318px;
}

#p20 .p_2 {
    top: 442px;
}

#p9 .box-right h5, #p21 .box-right h5 {
    left: 6px;
    top: 15px;
}

.page .ico_s {
    background-repeat: no-repeat;
    width: 15px;
}

.page .fsumme_fieldset h4 {
    width: 521px;
}

.page .fsumme_fieldset.fieldset_2 ul.fieldlist_2 {
left: 275px;
}

.page .fsumme_fieldset.fieldset_2 ul.fieldlist_2 h5{
    width: 140px;
}
.page .fsumme_fieldset.fieldset_3 .fieldlist_2 {
	left: 285px;
}

.page .fsumme_fieldset.fieldset_3 .fieldlist_2 h5 {
	width: 130px;
}

.offline #p4_t4 {
    left: 500px;
}

#p4_t5 {
    left: 538px;
}

#protocol h1 {
    top: 3mm;
}

.p1_box h3 {
    padding: 14px 0 0 30px;
    width: 172px;
}

#machbarkeitscheck h4 {
    font-size: 13px;
}

#machbarkeitscheck .box-right h5 {
    left: 8px;
}
#machbarkeitscheck h5.h5_1 {
    font-size: 9px;
}
}
#machbarkeitscheck h5.h5_2 {
    font-size: 9px;
}
#p5_btnnext {
    font-size: 11px;
}
#p9 .reasonlist {
    top: 473px;
}
#p48 .reasonlist li {
    padding-left: 1px;
    padding-right: 1px;
    width: 100px;
}
#p48 #p48_popup_lbs ul {
    left: 91px;
    top: 245px;
    width: auto;
}
#p48 #p48_popup_lbs ul.reasonlist li {

}
#p48 #p48_popup_lbs ul.reasonlist li.li_1 {
    margin-right: 42px;
    width: 120px;
}

#p11 p {
    top: 393px;
}

.page .fsumme_header .field .curr {
    left: 25px;
    right: auto;
}
.page .fsumme_header .field .value {
    padding-right:0;
    padding-left: 25px;
    text-align: left;
}
#p48 #p48_popup_hand ul.reasonlist li {
    width: 88px;
}
#p48 #p48_popup_lbs h3.h3_2 {
    width: 520px;
    left: 35px;
}

#protocol #protocol_p2 .content {
    line-height: 4.5mm;
}

#protocol #box6 p {
    line-height: 2.5mm;
}

#machbarkeitscheck h5 {
    font-size: 10px;
}

#p25 ul {
    width: 385px;
}
#p25 .ul_2 {
    left: 42px;
    width: 400px;
    list-style: none;
}