{% extends 'base.html' %}
{% block content %}
{% load static %}
        <div class="main">
            <div class="d-flex justify-content-between align-items-center topBar">
                <div class="toggle d-lg-block d-none">
                    <i class='bx bx-menu'></i>
                </div>
                <div class="toggle d-block d-lg-none">
                    <i class='bx bx-menu mobileMenu' onclick="openNavMob()"></i>
                </div>
            </div>

            <div class="container-lg px-4">
                <div class="commonLayout applicantSelection my-4">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-8 mb-3 mb-md-0">
                                <div class="leftSec">
                                    <div class="closeIcon">
                                        <i class="bi bi-x-lg" onclick="exitApplication()"></i>
                                    </div>

                                    <form action="/insurance/clientInformation/56" method="get" class="form">
                                        {% csrf_token %}
                                        <div class="userImg">
                                            <img src="{% static 'creditInsurance/images/applicantSelection.png' %}" alt="Applicant Selection icon">
                                        </div>
                                        <h4 class="mb-3">Applicant selection for assessment report scenarios.</h4>
                                        <div class="mb-3">
                                            <p class="applicantMsg mb-4">This application is joint, would you like to
                                                proceed
                                                with completing the analysis together?
                                            </p>
                                        </div>

                                        <div class="applicantList mb-5">
                                            <p class="text-uppercase mb-1">APPLICANT</p>
                                            <div class="selectBox">
                                                <select class="form-select" id="checkSelect" aria-label="Select Applicant">
                                                    {% for appl in applicant_details %}
                                                        <option value="{{ appl.applicantId }}">{{ appl.FirstName }} {{ appl.LastName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="selectBoxMultiple">
                                                <select class="form-select" id="checkSelectMultiple" aria-label="Select Applicant" multiple>
                                                    {% for appl in applicant_details %}
                                                        <option value="{{ appl.applicantId }}">{{ appl.FirstName }} {{ appl.LastName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="jointApplicantDetails">
                                            <p class="mb-2">Joint applicant on file?</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="jointApplicant"
                                                    id="yes" value="Yes" checked>
                                                <label class="form-check-label" for="yes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="jointApplicant"
                                                    id="no" value="No">
                                                <label class="form-check-label" for="no">
                                                    No
                                                </label>
                                            </div>
                                        </div>

                                        <div class="mt-5 d-flex align-items-center justify-content-end">
                                            <button type="submit" class="btn commonBtn">Proceed</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="rightsec">
                                    <p>Common questions & answers</p>
                                    <div class="faqSectionByPage">
                                        <div class="accordion" id="faqRightSec">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="faqOne">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 001</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="faqOne" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the first item's accordion body.</strong> It is
                                                        shown by default, until the collapse plugin adds the appropriate
                                                        classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="faqTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 002</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="faqTwo" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="faqThree">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 003</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="faqThree" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the third item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}