{% extends 'base.html' %}
{% block content %}
{% load static %}
        <div class="main">
            <div class="d-flex justify-content-end align-items-center topBar">
            </div>

            <div class="container-lg px-4">
                <div class="commonLayout applicantSelection my-4">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-8 mb-3 mb-md-0">
                                <div class="leftSec">
                                    <div class="refreshBtn">
                                        <img src="{% static 'creditInsurance/images/reload.png' %}" alt="reload icon">
                                    </div>

                                    <form action="/insurance/applicantDemographic/" method="post" class="form" id="applicantSelection">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk_id" value="{{ pk_id }}">
                                        <div class="userImg">
                                            <img src="{% static 'creditInsurance/images/applicantSelection.png' %}" alt="Applicant Selection icon">
                                        </div>
                                        <h4 class="mb-3">Applicant selection for assessment report scenarios.</h4>
                                        <div class="mb-3">
                                            <p class="applicantMsg mb-4">This application is joint, would you like to
                                                proceed
                                                with completing the analysis together?
                                            </p>
                                        </div>

                                        <div class="applicantList mb-5">
                                            <p class="text-uppercase mb-1">APPLICANT</p>
                                            <div class="selectBox applicantCheck">
                                                <select class="form-select" id="checkSelect" aria-label="Select Applicant" name="singleSelect">
                                                    {% for appl in applicant_details %}
                                                        <option value="{{ appl.applicantId }}">{{ appl.FirstName }} {{ appl.LastName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="selectBoxMultiple applicantCheck">
                                                <select class="form-select" id="checkSelectMultiple" aria-label="Select Applicant" multiple="multiple" name="multiSelect">
                                                    {% for appl in applicant_details %}
                                                        <option value="{{ appl.applicantId }}">{{ appl.FirstName }} {{ appl.LastName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="jointApplicantDetails">
                                            <p class="mb-2">Joint applicant on file?</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="jointApplicant"
                                                    id="yes" value="Yes" checked>
                                                <label class="form-check-label" for="yes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="jointApplicant"
                                                    id="no" value="No">
                                                <label class="form-check-label" for="no">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                        <div class="error mt-3 mb-1 d-none">
                                            <p class="m-0 error_applicantSelection">Kindly select one of the applicant</p>
                                        </div>

                                        <div class="mt-5 d-flex align-items-center justify-content-end">
                                            <button type="submit" class="btn commonBtn">Proceed</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-12 mb-3">
                                    {% include 'creditInsurance/commonRelevantLinks.html' %}
                                </div>
                                <div class="col-md-12">
                                    {% include 'creditInsurance/commonFAQ.html' %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>

let error = document.querySelector('.error');


let form = document.querySelector('.applicantSelection form');
form.addEventListener('submit', (e) => {

            var applicantJoinSelectionCount = document.querySelector('input[name="jointApplicant"]:checked').value;
            var applicantSelectionCount = 0;

            if(applicantJoinSelectionCount == "Yes" && document.getElementById("checkSelectMultiple").selectedIndex >= 0){
                applicantSelectionCount = 1;

            }
            else if(applicantJoinSelectionCount == "No" && document.getElementById("checkSelect").selectedIndex >= 0) {
                applicantSelectionCount = 1;

            }

        if(applicantSelectionCount == 0){
            error.classList.remove('d-none');
            error.classList.add('d-block');
            e.preventDefault();
            return false;
        }


})
</script>


{% endblock %}