{% extends 'base.html' %}
{% block content %}
{% load static %}
        <div class="main">
            <div class="d-flex justify-content-between align-items-center topBar">
                <div class="toggle d-lg-block d-none">
                    <i class='bx bx-menu'></i>
                </div>
                <div class="toggle d-block d-lg-none">
                    <i class='bx bx-menu mobileMenu' onclick="openNavMob()"></i>
                </div>
            </div>

            <div class="container-lg px-4">
                <div class="accountScreen notEligible exitPage my-4">
                    <div class="content text-center">
                        <!-- <div class="closeIcon">
                            <i class="bi bi-x-lg"></i>
                        </div> -->
                        <form>
                            <div class="mb-3">
                                <h4>Let's stay in touch</h4>
                                <p class="estimateValue mb-5">We appreciate your business, please contact us for additional information or to review your profile with an advisor near you.</p>
                            </div>

                            <div class="mb-3 exitReason text-start">
                                <div class="row">
                                    <h4>Primary reason you declined assessment?</h4>
                                    <div class="col-md-6 col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exitAssessmentReason" id="laterDate" value="laterDate">
                                            <label class="form-check-label" for="laterDate">
                                                Lender to complete at a later date
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exitAssessmentReason" id="think" value="think">
                                            <label class="form-check-label" for="think">
                                                Need to think about it
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exitAssessmentReason" id="coverage" value="coverage">
                                            <label class="form-check-label" for="coverage">
                                                Already covered
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exitAssessmentReason" id="interested" value="interested">
                                            <label class="form-check-label" for="interested">
                                                Not interested
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exitAssessmentReason" id="noTime" value="noTime">
                                            <label class="form-check-label" for="noTime">
                                                No time
                                            </label>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <p class="obejctionData my-3"></p>
                                </div>
                            </div>
                            
                            <div class="closePage text-center">
                                <button type="button" class="btn commonBtn">Exit</button>
                                <div class="returnToCI">
                                    <a href="#">I changed my mind, return to dashboard tool</a>
                                </div>
                                <hr class="my-4">
                                <div class="contactSec">
                                    <p class="mb-2 text-capitalize">Feel free to contact us with any questions</p>
                                    <div class="contactDetails d-flex justify-content-center">
                                        <div class="mail mb-2">
                                            <img src="{% static 'creditInsurance/images/mail.png' %}" alt="mail icon">
                                            <a href="mailto:info_ci@cibc.com">info_ci@cibc.com</a>
                                        </div>
                                        <div class="call">
                                            <img src="{% static 'creditInsurance/images/phone.png' %}" alt="call icon">
                                            <span>1.877.448.6500</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
