<div class="rightsec">
    <p>Relevant links</p>
    <ul class="p-0 mb-0 list-unstyled">
        <div class="productLinks">
            <li class="mb-2">
                <a href="https://www.cibc.com/en/personal-banking/insurance.html" target="_blank">
                    <span class="link_name">Link 1</span>
                </a>                                                
            </li>
            <li class="mb-2">
                <a href="https://www.cibc.com/en/personal-banking/insurance.html" target="_blank">
                    <span class="link_name">Link 2</span>
                </a>
            </li>
            <li class="mb-2">
                <a href="https://www.cibc.com/en/personal-banking/insurance.html" target="_blank">
                    <span class="link_name">Link 3</span>
                </a>
            </li>
            <li class="">
                <a href="https://www.cibc.com/en/personal-banking/insurance.html" target="_blank">
                    <span class="link_name">Link 4</span>
                </a>
            </li>
        </div>
    </ul>
</div>