{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="main">
        <div class="d-flex justify-content-end align-items-center topBar">
        </div>

        <div class="container-lg px-4">
            <div class="commonLayout eligibilityQuestionaire my-4">
                <div class="content">
                    <div class="row">
                        <div class="col-md-8 mb-3 mb-md-0">
                            <div class="leftSec">
                                <div class="refreshBtn">
                                    <img src="{% static 'creditInsurance/images/reload.png' %}" alt="reload icon">
                                </div>

                                <form>
                                    <div class="userImg">
                                        <img src="{% static 'creditInsurance/images/faq.png' %}" alt="Eligibility Questionaire icon">
                                    </div>
                                    <h4 class="mb-3">Mortgage disability insurance eligibility</h4>

                                    <div class="eligibilityQuestionaire eligibilityQuestionaire1 mb-3">
                                        <p class="mb-2">Do you currently receive disability benefits from any source?</p>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="disabilityBenefits"
                                                id="disabilityBenefitsYes" value="Yes" checked>
                                            <label class="form-check-label" for="disabilityBenefitsYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="disabilityBenefits"
                                                id="disabilityBenefitsNo" value="No">
                                            <label class="form-check-label" for="disabilityBenefitsNo">
                                                No
                                            </label>
                                        </div>
                                    </div>

                                    <div class="eligibilityQuestionaire eligibilityQuestionaire2 mb-3">
                                        <p class="mb-2">Is your main source of employment income from a seasonal employment?</p>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="seasonalEmployment"
                                                id="seasonalEmploymentYes" value="Yes" checked>
                                            <label class="form-check-label" for="seasonalEmploymentYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="seasonalEmployment"
                                                id="seasonalEmploymentNo" value="No">
                                            <label class="form-check-label" for="seasonalEmploymentNo">
                                                No
                                            </label>
                                        </div>
                                    </div>

                                    <div class="eligibilityQuestionaire eligibilityQuestionaire3 mb-3">
                                        <p class="mb-2">Do you currently work at least 25 hours per week? </p>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="insurance25Hours"
                                                id="insurance25HoursYes" value="Yes" checked>
                                            <label class="form-check-label" for="insurance25HoursYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="insurance25Hours"
                                                id="insurance25HoursNo" value="No">
                                            <label class="form-check-label" for="insurance25HoursNo">
                                                No
                                            </label>
                                        </div>
                                    </div>

                                    <div class="eligibilityQuestionaire eligibilityQuestionaire4 mb-3">
                                        <p class="mb-2">At your seasonal employment,</p>

                                        <div class="eligibilityQuestionaire4A mb-3 ms-3">
                                            <p class="mb-2">(a) Do you work at least 25 hours per week, AND</p>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="insurance25HoursSeasonalA"
                                                    id="insurance25HoursSeasonalAYes" value="Yes" checked>
                                                <label class="form-check-label" for="insurance25HoursSeasonalAYes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="insurance25HoursSeasonalA"
                                                    id="insurance25HoursSeasonalANo" value="No">
                                                <label class="form-check-label" for="insurance25HoursSeasonalANo">
                                                    No
                                                </label>
                                            </div>
                                        </div>

                                        <div class="eligibilityQuestionaire4B mb-3 ms-3">
                                            <p class="mb-2">(b) Have you worked for at least one previous season?</p>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="insurance25HoursSeasonalB"
                                                    id="insurance25HoursSeasonalBYes" value="Yes" checked>
                                                <label class="form-check-label" for="insurance25HoursSeasonalBYes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="insurance25HoursSeasonalB"
                                                    id="insurance25HoursSeasonalBNo" value="No">
                                                <label class="form-check-label" for="insurance25HoursSeasonalBNo">
                                                    No
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="error">
                                        <p>Sorry, You are not eligible to apply for Mortgage DI.</p>
                                    </div>

                                    <div class="mt-5 d-flex align-items-center justify-content-end commonBtnContainer">
                                        <button type="button" class="btn commonBtn">Proceed</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 mb-3">
                                {% include 'creditInsurance/commonRelevantLinks.html' %}
                            </div>
                            
                            <div class="col-md-12">
                                <div class="rightsec">
                                    <p>Common questions & answers</p>
                                    <div class="faqSectionByPage">
                                        <div class="accordion" id="faqRightSec">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="MortgageFAQ1">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 001</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="MortgageFAQ1" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the first item's accordion body.</strong> It is
                                                        shown by default, until the collapse plugin adds the appropriate
                                                        classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="MortgageFAQ2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 002</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="MortgageFAQ2" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="MortgageFAQ3">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 003</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="MortgageFAQ3" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the third item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}