{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="main">
        <div class="d-flex justify-content-end align-items-center topBar">
            <div class="rightSec d-flex align-items-center justify-content-center">
                <!-- Switch Button -->
                <div class="switchBtn">
                    <input id="toggle-client" class="toggleBtn toggle-left activeBtn" name="toggle" value="false" type="radio">
                    <label for="toggle-client" class="btnToggle">Client</label>

                    <input id="toggle-rep" class="toggleBtn toggle-right" name="toggle" value="true" type="radio">
                    <label for="toggle-rep" class="btnToggle">Rep</label>
                </div>
            </div>
        </div>

        

        <div class="container-lg px-4">
            <div class="commonLayout my-4">
                <div class="content">
                    <div class="row">
                        <div class="col-md-8 mb-3 mb-md-0">
                            <div class="leftSec">
                                <div class="refreshBtn">
                                    <img src="{% static 'creditInsurance/images/reload.png' %}" alt="reload icon">
                                </div>

                                <div class="faqSearch">
                                    <h4 class="mb-4">FAQ's Search</h4>

                                    <div class="search mb-4">
                                        <label>
                                            <input id="search" type="search" placeholder="Search" autocomplete="off">
                                            <img src="{% static 'creditInsurance/images/search.png' %}" alt="Search icon">
                                        </label>
                                    </div>

                                    <div class="faqSearchSection">
                                        <div class="row col-12 col-sm-12 col-xl-12 mb-md-4 pb-md-4 mb-4 pb-4">
                                            <div class="col-12 col-sm-12 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>How to use dashboard?</strong></h6>
                                                    <p>Tellus, a aliquet dummy lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-8 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Answer</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-xl-2 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3">Reation</h6>

                                                    <div class="reaction">
                                                        <div class="reactionBlock d-flex align-items-center">
                                                            <div id="faq1" class="image imageHappy d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-happy.png' %}" alt="Happy Face Icon">
                                                                <span>Happy</span>
                                                            </div>
                                                            <div id="faq2" class="image imageNeutral d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-neutral.png' %}" alt="Neutral Face Icon">
                                                                <span>Neutral</span>
                                                            </div>
                                                            <div id="faq3" class="image imageSad d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-dissatisfied.png' %}" alt="Sad Face Icon">
                                                                <span>Sad</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row col-12 col-sm-12 col-xl-12 mb-md-4 pb-md-4 mb-4 pb-4">
                                            <div class="col-12 col-sm-12 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Extending a line of credit?</strong></h6>
                                                    <p>Tellus, a aliquet test12 lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-8 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Answer</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-xl-2 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3">Reation</h6>

                                                    <div class="reaction">
                                                        <div class="reactionBlock d-flex align-items-center">
                                                            <div id="faq4" class="image imageHappy d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-happy.png' %}" alt="Happy Face Icon">
                                                                <span>Happy</span>
                                                            </div>
                                                            <div id="faq5" class="image imageNeutral d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-neutral.png' %}" alt="Neutral Face Icon">
                                                                <span>Neutral</span>
                                                            </div>
                                                            <div id="faq6" class="image imageSad d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-dissatisfied.png' %}" alt="Sad Face Icon">
                                                                <span>Sad</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row col-12 col-sm-12 col-xl-12 mb-md-4 pb-md-4 mb-4 pb-4">
                                            <div class="col-12 col-sm-12 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Qualification for disability?</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-8 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Answer</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-xl-2 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3">Reation</h6>

                                                    <div class="reaction">
                                                        <div class="reactionBlock d-flex align-items-center">
                                                            <div id="faq7" class="image imageHappy d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-happy.png' %}" alt="Happy Face Icon">
                                                                <span>Happy</span>
                                                            </div>
                                                            <div id="faq8" class="image imageNeutral d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-neutral.png' %}" alt="Neutral Face Icon">
                                                                <span>Neutral</span>
                                                            </div>
                                                            <div id="faq9" class="image imageSad d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-dissatisfied.png' %}" alt="Sad Face Icon">
                                                                <span>Sad</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row col-12 col-sm-12 col-xl-12 mb-md-4 pb-md-4 mb-4 pb-4">
                                            <div class="col-12 col-sm-12 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>How to use dashboard?</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-8 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Answer</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-xl-2 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3">Reation</h6>

                                                    <div class="reaction">
                                                        <div class="reactionBlock d-flex align-items-center">
                                                            <div id="faq10" class="image imageHappy d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-happy.png' %}" alt="Happy Face Icon">
                                                                <span>Happy</span>
                                                            </div>
                                                            <div id="faq11" class="image imageNeutral d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-neutral.png' %}" alt="Neutral Face Icon">
                                                                <span>Neutral</span>
                                                            </div>
                                                            <div id="faq12" class="image imageSad d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-dissatisfied.png' %}" alt="Sad Face Icon">
                                                                <span>Sad</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row col-12 col-sm-12 col-xl-12 mb-md-4 pb-md-4 mb-4 pb-4">
                                            <div class="col-12 col-sm-12 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Extending a line of credit?</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-8 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Answer</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-xl-2 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3">Reation</h6>

                                                    <div class="reaction">
                                                        <div class="reactionBlock d-flex align-items-center">
                                                            <div id="faq13" class="image imageHappy d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-happy.png' %}" alt="Happy Face Icon">
                                                                <span>Happy</span>
                                                            </div>
                                                            <div id="faq14" class="image imageNeutral d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-neutral.png' %}" alt="Neutral Face Icon">
                                                                <span>Neutral</span>
                                                            </div>
                                                            <div id="faq15" class="image imageSad d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-dissatisfied.png' %}" alt="Sad Face Icon">
                                                                <span>Sad</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row col-12 col-sm-12 col-xl-12 mb-md-4 pb-md-4 mb-4 pb-4">
                                            <div class="col-12 col-sm-12 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Qualification for disability?</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-8 col-xl-5 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3"><strong>Answer</strong></h6>
                                                    <p>Tellus, a aliquet lorem quam sed neque. Praesent molestie accumsan enim, sed ornare leo. Quisque sit amet libero a metus laoreet commodo ac quis nisl.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-xl-2 faqSearchSectionBlock">
                                                <div class="archetypeInfoDesc">
                                                    <h6 class="mb-3">Reation</h6>

                                                    <div class="reaction">
                                                        <div class="reactionBlock d-flex align-items-center">
                                                            <div id="faq16" class="image imageHappy d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-happy.png' %}" alt="Happy Face Icon">
                                                                <span>Happy</span>
                                                            </div>
                                                            <div id="faq17" class="image imageNeutral d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-neutral.png' %}" alt="Neutral Face Icon">
                                                                <span>Neutral</span>
                                                            </div>
                                                            <div id="faq18" class="image imageSad d-flex align-items-center flex-column">
                                                                <img src="{% static 'creditInsurance/images/face-dissatisfied.png' %}" alt="Sad Face Icon">
                                                                <span>Sad</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 mb-3">
                                {% include 'creditInsurance/commonRelevantLinks.html' %}
                            </div>
                            <div class="col-md-12">
                                <div class="rightsec">
                                    <p>Common questions & answers</p>
                                    <div class="faqSectionByPage">
                                        <div class="accordion" id="faqRightSec">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="searchFaqOne">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 001</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="searchFaqOne" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the first item's accordion body.</strong> It is
                                                        shown by default, until the collapse plugin adds the appropriate
                                                        classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="searchFaqTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 002</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="searchFaqTwo" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="searchFaqThree">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 003</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="searchFaqThree" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the third item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // FAQ Search - Reaction
        let faqSearchReaction = document.querySelectorAll('.faqSearchSectionBlock .reactionBlock .image');

        faqSearchReaction.forEach((ele) => {
            ele.addEventListener('click', faqReactionActive)
        })

        function faqReactionActive(e) {
            let allTargetFAQReaction = e.currentTarget.parentElement.children;
            let getFAQID = e.currentTarget.id;

            $(allTargetFAQReaction).removeClass('active');
            $('#' + getFAQID).addClass('active');
        }

        // FAQ Search - Filter

        let search = document.querySelector('#search');
        let faqSearchSectionRow = document.querySelectorAll('.faqSearchSection .row');

        search.addEventListener('keyup', (e) => {
            let filterVal = e.target.value.toLowerCase();

            faqSearchSectionRow.forEach((row) => {
                row.querySelector('.faqSearchSectionBlock .archetypeInfoDesc').innerText.toLowerCase().indexOf(filterVal) > -1 ? (row.style.display = "") : (row.style.display = "none");
            })
        })
    </script>

{% endblock %}