{% extends 'base.html' %}
{% block content %}
{% load static %}

        <div class="main">
            <div class="d-flex justify-content-end align-items-center topBar">
            </div>

            <div class="container-lg px-4">
                <div class="accountScreen notEligible my-4">
                    <div class="content">

                        <form>
                            <div class="userImg">
                                <img src="{% static 'creditInsurance/images/notEligible.png' %}" alt="Not Eligible icon">
                            </div>
                            <div class="mb-3">
                                <h4 class="display-6">Let's stay in touch!</h4>
                                <p class="estimateValue mb-5">We appreciate your business as a CIBC valued customer</p>
                                <p class="notEligibleMsg mb-5">{{ content }}</p>
                            </div>
                            <div class="closePage text-center">
                                <button type="button" class="btn commonBtn"><i class="bi bi-x-lg"></i> CLOSE</button>
                                <div class="contactSec">
                                    <p class="mt-4 mb-2 text-capitalize">Feel free to contact us with any questions</p>
                                    <div class="contactDetails d-flex justify-content-center">
                                        <div class="mail mb-2">
                                            <img src="{% static 'creditInsurance/images/mail.png' %}" alt="mail icon">
                                            <a href="mailto:info_ci@cibc.com">info_ci@cibc.com</a>
                                        </div>
                                        <div class="call">
                                            <img src="{% static 'creditInsurance/images/phone.png' %}" alt="call icon">
                                            <span>1.877.448.6500</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   {% endblock %}