{% extends 'base.html' %}
{% block content %}
{% load static %}

        <div class="main">
            <div class="d-flex justify-content-between align-items-center topBar">
                <div class="toggle d-lg-block d-none">
                    <i class='bx bx-menu'></i>
                </div>
                <div class="toggle d-block d-lg-none">
                    <i class='bx bx-menu mobileMenu' onclick="openNavMob()"></i>
                </div>
            </div>

            <div class="container-lg px-4">
                <div class="commonLayout questionnaireContainer my-4">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-8 mb-3 mb-md-0">
                                <div class="leftSec">
                                    <div class="closeIcon">
                                        <i class="bi bi-x-lg" onclick="exitApplication()"></i>
                                    </div>

                                    <form action="/insurance/termCondition/" method="post" class="form" id="form">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk_id" value="{{ pk_id }}">
                                        <div class="userImg">
                                            <img src="{% static 'creditInsurance/images/faq.png' %}" alt="Questionnaire icon">
                                        </div>
                                        <h4 class="mb-3">Preliminary applicant selection assessment.</h4>
                                        <div class="mb-3">
                                            <p class="applicantMsg mb-4">With the addition of this new credit of $x, you may have a protection gap as we used your current income to qualify you for this application.</p>
                                        </div>

                                        <div class="questionnaireSection">
                                            <p>I'd like to ask you, on a scale of <strong>1- {{ assessment|length }}</strong>, how confident are you with your current plan should your income be reduced or eliminated?</p>
                                            <ul class="list-unstyled d-flex flex-wrap justify-content-center">

                                                {% for key, values in assessment.items %}
                                                <li>{{key}}</li>
                                                {% endfor %}

                                            </ul>
                                            <p class="questionnaireSectionObjection"></p>
                                        </div>
                                        <div class="error mt-5 mb-2 d-none">
                                            <p class="m-0">Kindly select one of the score.</p>
                                        </div>

                                        <div class="mt-5 d-flex align-items-center justify-content-end commonBtnContainer">
                                            <button type="submit" class="btn commonBtn">Next</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {% include 'creditInsurance/commonFAQ.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
// Questionnaire - add active class on selected list item

let questionnaireItems = document.querySelectorAll('.questionnaireSection ul li');
let questionnaireSectionObjection = document.querySelector('.questionnaireSectionObjection');
var error = document.querySelector('.error');
var assessment_click = 0;

function addActive(e) {
    let currentItem = e.currentTarget.innerText;
    questionnaireSectionObjection.style.display = "block";

    questionnaireItems.forEach((item) => {
        item.classList.remove('active');
    })
    this.classList.add('active');

    var assessment = {{ assessment|safe }};
    var assessmentJson = JSON.parse(JSON.stringify(assessment))

    questionnaireSectionObjection.innerText = assessmentJson[currentItem];
    window.assessment_click++;
    error.classList.add('d-none');
}

questionnaireItems.forEach((item) => {
    item.addEventListener('click', addActive);
})

let form = document.querySelector('form');

form.addEventListener('submit', (e) => {
    if(window.assessment_click <= 0){
        error.classList.remove('d-none');
        error.classList.add('d-block');
<!--        alert("Kindly click any of the assessment questionnaire...")-->
        e.preventDefault();
    }
})
</script>
{% endblock %}