{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="main">
            <div class="d-flex justify-content-between align-items-center topBar">
                <div class="toggle d-lg-block d-none">
                    <i class='bx bx-menu'></i>
                </div>
                <div class="toggle d-block d-lg-none">
                    <i class='bx bx-menu mobileMenu' onclick="openNavMob()"></i>
                </div>
            </div>

            <div class="container-lg px-4">
                <div class="commonLayout saveSummary my-4">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-8 mb-3 mb-md-0">
                                <div class="leftSec">
                                    <div class="closeIcon">
                                        <i class="bi bi-x-lg"></i>
                                    </div>

                                    <div class="userImg">
                                        <img src="{% static 'creditInsurance/images/saveSummary.png' %}" alt="Save Summary icon">
                                    </div>
                                    <h4 class="mb-2">Thanks for completing the assessment.</h4>
                                    <div class="mb-3">
                                        <p class="applicantMsg mb-4">How would you like to save your records?</p>
                                    </div>

                                    <div class="saveFormat">
                                        <div class="col-8 m-auto">
                                            <div class="row text-center">
                                                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                                                    <img src="{% static 'creditInsurance/images/email.svg' %}" alt="Email Icon">
                                                    <p class="mb-1"><strong>Email</strong></p>
                                                    <button type="button" class="btn commonBtn">Send</button>
                                                </div>
                                                <div class="col-sm-6 col-12">
                                                    <img src="{% static 'creditInsurance/images/print.svg' %}" alt="Print Icon">
                                                    <p class="mb-1"><strong>Print (PDF)</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-5 d-flex align-items-center justify-content-end commonBtnContainer">
                                        <button type="button" class="btn commonBtn selectApplicant">Select applicant </button>
                                        <a href="/insurance/exit/{{ id }}">
                                        <button type="button" class="btn commonBtn">Next</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="rightsec">
                                    <p>Common questions & answers</p>
                                    <div class="faqSectionByPage">
                                        <div class="accordion" id="faqRightSec">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="faqOne">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 001</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="faqOne" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the first item's accordion body.</strong> It is
                                                        shown by default, until the collapse plugin adds the appropriate
                                                        classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="faqTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 002</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="faqTwo" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="faqThree">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 003</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="faqThree" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the third item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}