{% extends 'base.html' %}
{% block content %}
{% load static %}
        <div class="main">
            <div class="d-flex justify-content-end align-items-center topBar">
            </div>

            <div class="container-lg px-4">
                <div class="commonLayout notEligible TCPage my-4">
                    <div class="content">
                       <div class="row">
                            <div class="col-md-8 mb-3 mb-md-0">
                                <div class="leftSec">
                                    <div class="document">
                                        <img src="{% static 'creditInsurance/images/documents.png' %}" alt="document icon">
                                    </div>
                                    <h4>Let's get some logistics out of the way!</h4>
                                    <p>Before we process review the terms & conditions.</p>
            
                                    <div class="TC-Content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugiat corrupti tenetur voluptate, rerum, ab reiciendis dolore iusto, dolores explicabo harum doloremque odio at dignissimos commodi consequatur sequi tempore laudantium.</p>
                                    </div>
            
                                    <div class="btnContainer d-flex align-items-center justify-content-end mt-4">
                                        <a role="button" class="btn commonBtn btnDisagree" href="/insurance/exit/{{ exit_id }}">Decline</a>
                                        <a role="button" class="btn commonBtn btnAgree" href="/insurance/applicantSelection/{{ id }}">Agree</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                {% include 'creditInsurance/commonRelevantLinks.html' %}
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
