{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="main">
        <div class="d-flex justify-content-end align-items-center topBar">
        </div>

        <div class="container-lg px-4">
            <div class="commonLayout typeOfApplication my-4">
                <div class="content">
                    <div class="row">
                        <div class="col-md-8 mb-3 mb-md-0">
                            <div class="leftSec">
                                <div class="closeIcon">
                                    <i class="bi bi-x-lg"></i>
                                </div>

                                <form>
                                    <div class="userImg">
                                        <img src="{% static 'creditInsurance/images/applicantSelection.png' %}" alt="Applicant Selection icon">
                                    </div>
                                    <h4 class="mb-3">Tell us more about the type of application.</h4>

                                    <div class="typeOfApplicant1 mb-3">
                                        <p class="mb-2">Please select one of the following:</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="typeOfApplicant1"
                                                id="newClassApplication" value="New Class Application" checked>
                                            <label class="form-check-label" for="newClassApplication">
                                                New Class Application
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="typeOfApplicant1"
                                                id="renewal" value="Renewal">
                                            <label class="form-check-label" for="renewal">
                                                Renewal
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="typeOfApplicant1"
                                                id="renewalExisting" value="Renewal existing">
                                            <label class="form-check-label" for="renewalExisting">
                                                Renewal existing
                                            </label>
                                        </div>
                                    </div>

                                    <div class="typeOfApplicant2">
                                        <p class="mb-2">Please select one of the following:</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="typeOfApplicant2"
                                                id="mortgage" value="Mortgage" checked>
                                            <label class="form-check-label" for="mortgage">
                                                Mortgage
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="typeOfApplicant2"
                                                id="PLCOnly" value="PLC only">
                                            <label class="form-check-label" for="PLCOnly">
                                                PLC only
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="typeOfApplicant2"
                                                id="loan" value="Loan">
                                            <label class="form-check-label" for="loan">
                                                Loan
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="typeOfApplicant2"
                                                id="hpp" value="HPP">
                                            <label class="form-check-label" for="hpp">
                                                HPP
                                            </label>
                                        </div>
                                    </div>

                                    <div class="mt-5 d-flex align-items-center justify-content-end commonBtnContainer">
                                        <button type="button" class="btn commonBtn">Proceed</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 mb-3">
                                {% include 'creditInsurance/commonRelevantLinks.html' %}
                            </div>
                            <div class="col-md-12">
                                <div class="rightsec">
                                    <p>Common questions & answers</p>
                                    <div class="faqSectionByPage">
                                        <div class="accordion" id="faqRightSec">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="typeOfApplicantFAQ1">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 001</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="typeOfApplicantFAQ1" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the first item's accordion body.</strong> It is
                                                        shown by default, until the collapse plugin adds the appropriate
                                                        classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="typeOfApplicantFAQ2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 002</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="typeOfApplicantFAQ2" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="typeOfApplicantFAQ3">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        <i class='bx bx-plus'></i>
                                                        <span>Question 003</span>
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="typeOfApplicantFAQ3" data-bs-parent="#faqRightSec">
                                                    <div class="accordion-body">
                                                        <strong>This is the third item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}